body {
	background-color: #333;
	width: 100%;
  color: #fff;

}



header {
	max-width: 100%;
	padding-top: 0px; 
	padding-bottom: 0px;
	margin-bottom: 0px;
	height: 600px;
	text-align: center;
	background-image: url("../img/岩瀬唯奈２.jpg");
	background-size: cover;
	background-position: top / right;
}

header h1 {
	position: absolute;
	left: 120px;
	bottom: 300px;
	color: #fff;
	transform: rotate(-9deg);/* 文字の回転 */
	font-weight: 1.2;
}

header > img {
	width: 100%;
	display: block;
	margin: auto;
}

.nLink {
  font-size: 18px;
  color: #fff;
  float: right;
  margin-top: 50px;
  margin-right: 96px;
  transition: 0.8s;
}

.nLink:hover {
  color: #D22B7C;
}

nav {
	margin-top: 30px;

}

.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #924B80;/*カッコのカラー*/
  border-top: 3px solid #4445A0;/*カッコのカラー*/
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #924B80;/*カッコのカラー*/
  border-bottom: 3px solid #4445A0;/*カッコのカラー*/
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

/* currentが常にかっこが出てる状態のクラスがあるところ */
.snip1189 a:hover,
.snip1189 .current a {
  color: #fff;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

.snip1189 li {
  font-size: 17px;
}

.m_contents {
  width: auto;
  height: 50px;
/*  display: flex;
*/}


/* sub.vue css */

.news {
  width: auto;
}

.news h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 1;
  margin-top: 100px;
}

.newsContainer {
  margin: 0 auto;

  margin-top: 82px;
  width: 1440px;
  height: 300px;  
}


.newsContainer p {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}

.newsContainer span {
  font-size: 18px;

}

.newsContent {
  border-bottom:1px solid #979797;
}


/* LIVE.vue css */
.live {
  width: auto;
}

.live h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 1;
  margin-top: 100px;
}

.liveContainer {
  margin: 0 auto;

  margin-top: 192px;
  width: 1440px;
  height: 300px;  
}


.liveContainer p {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}


/* DISCOGRAPHY.vue css */
.disc {
  width: auto;
}

.disc h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 1;
  margin-top: 100px;
}

.discContainer {
  margin: 0 auto;
  margin-top: 192px;
  width: 1440px;
  height: 300px;  
}


.discContainer p {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 14px;
}


/*profile*/
.page-title {
  font-size: 48px;
  text-align: center;
  font-weight: normal;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
}
.profile {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 103px;
}
.profile .left {

}
.profile .left .image {
  width: 400px;
}
.profile .left .image img {
  display: block;
  width: 100%;
}

.profile .right {
  /*padding: 2rem;*/
  margin-left: 145px;
  margin-top: 50px;
}
.profile .right .title {
  padding-bottom: 3rem;
}
.profile .right .title .name {
  font-size: 36px;
}
.profile .right .title .name-kana {
  font-size: 20px;
  letter-spacing: 0.1rem;
}
.profile .right .content {
  font-size: 14px;
}
.profile .right .content+.content {
  padding-top: 2rem;
}

.content-container {
  margin-top: 100px;
}



/* plans css */

.plans {
  margin-top: 95px;
}

.flex {
  display: flex;
}

/* planEventLeft css */
.planLeft {
  position: relative;
  width: 720px;
  border-right: 1px solid #979797;
  margin-top: 63px;
}

.planEventLeft {
  width: 490px;
  height: 127px;
  background-color: #D8D8D8;
  border-right: 5px solid #50506B;
  margin-left: 130px;
}

.planEventLeft .title {
  width: 100%;
  height: 42px;
  background-color: #4A4A4A;
  text-align: center;
  font-size: 18px;
  line-height: 2.3;
}

.planEventLeft .date {
  font-size: 18px;
  margin-top: 19px;
  margin-left: 45px;
  color: #333;
}

.planEventLeft .info {
  font-size: 16px;
  margin-left: 45px;
  color: #333;
}

.plan {
  display: flex;
  align-items: center;
}

.plan:nth-child(1) {
  margin-bottom: 24px;
}
.plan:nth-child(2) {
  margin-bottom: 80px;
}
.plan:nth-child(3) {
  margin-bottom: 138px;
}
.plan:nth-child(4) {
  position: absolute;
  right: 0;
  bottom: -63px;
}


.border {
  border-bottom: 1px solid #979797;
  width: 100px;

}


/* planEventRight css */

.planRight {
  width: 720px;
}

.planEventRight {
  width: 490px;
  height: 127px;
  background-color: #D8D8D8;
  border-left: 5px solid #50506B;
  float: right;
  margin-right: 130px;
}

.planEventRight .title {
  width: 100%;
  height: 42px;
  background-color: #4A4A4A;
  text-align: center;
  font-size: 18px;
  line-height: 2.3;
}

.planEventRight .date {
  font-size: 18px;
  margin-top: 19px;
  margin-left: 45px;
  color: #333;
}

.planEventRight .info {
  font-size: 16px;
  margin-left: 45px;
  color: #333;
}

.plan .border {
  border-bottom:1px solid #979797;
  width: 100px;
}

.plansRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.plansRight:nth-child(1) {
  margin-bottom: 166px;
}

.plansRight:nth-child(2) {
  margin-bottom: 119px;
}


/* contact css */

.contacts {
  width: 100%;
}

.contact {
  width: 1027px;
  height: 300px;
  margin: 0 auto;
  display: flex;
}

.name , .e-mail {
  height: 24px;
  width: 300px;
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 18px;
}

.name {
  margin-bottom: 30px;
}

.submit {
  width: 238px;
  height: 24px;
  border-radius: 7px;
  margin-bottom: 40px;
}

.contactRight textarea {
  width: 550px;
  height: 300px;
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 0.5rem;
  font-size: 18px;
}



























